# Git（.git 需要保留，构建期要执行 git pull）
.gitignore

# 环境变量（可能含密钥）
.env
.env.local

# 构建产物
**/target
**/dist
/build
/out
**/logs
gms-server/BeiDou.jar
gms-server/application.yml
gms-server/src/main/resources/static



# 依赖目录
**/node_modules

# IDE
.idea
.vscode
*.iml
